root = true
[**]
end_of_line = lf
charset = utf-8
insert_final_newline = true
# Unix-style newlines with a newline ending every file
[app/**]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
